//////// OVERVIEW PAGE /////
.overview__main {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: minmax(90vh, auto);

  &--sidebar {
    padding: 8rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-grey-theme;
  }

  &--content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
  }
}

@media only screen and (max-width: 1000px) {
  .overview__main--content {
    padding: 5rem 3rem 5rem 3rem;
  }
}

@media only screen and (max-width: 600px) {
  .overview__main--content {
    padding: 5rem 3rem 5rem 3rem;
  }
}

.main__content {
  display: grid;
  grid-template-columns: minmax(auto, 50rem);
  grid-template-rows: 7rem;
  grid-auto-flow: row;
  grid-auto-rows: 7rem;
}

.message__content {
  display: grid;
  grid-template-columns: minmax(auto, 70rem);
  grid-template-rows: 5rem;
  grid-auto-flow: row;
  grid-auto-rows: 5rem;
}

.message__container {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-rows: 1fr;
  grid-row-gap: 1rem;

  &--block {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--item {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: inherit;
    color: inherit;
    text-transform: capitalize;
    letter-spacing: 1px;
    text-align: center;
  }

  &--head {
    color: #3e3e41;
    text-transform: uppercase;
  }
}

@media only screen and (max-width: 600px) {
  .message__container {
    grid-row-gap: 1rem;
  }
}
