//////// OVERVIEW PAGE /////
.overview__main {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: minmax(90vh, auto);

  &--sidebar {
    padding: 8rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-grey-theme;
  }

  &--content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
  }
}

.main__content {
  display: grid;
  grid-template-columns: 50rem;
  grid-template-rows: 7rem;
  grid-auto-flow: row;
  grid-auto-rows: 7rem;
}
