*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

// Root Settings
html {
  font-size: 62.5%; // 1rem = 10px
}

@media only screen and (max-width: 1000px) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 37.5%;
  }
}

body {
  box-sizing: border-box;
}
