extends base

block content
  section.contact__main
    .send__block
      .info__block--heading
        h2.contact__heading send message
      .send__text--block
        form.message__form
          - const message = `Hey there!. Welcome to the the QuickSend family. Your OTP is ${otp}:`
          textarea.textarea(cols='40' rows='5' readonly)
            | #{message}
          .contact__send
            button.btn.send__text(data-user-Id = user._id data-otp = otp) send message
