.btn {
  padding: 1rem 3rem;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-white;
  box-shadow: 0 1rem 2rem rgba($color-black, 0.3);
  outline: none;
  border: none;
  border-radius: 5px;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.3s;
  backface-visibility: hidden;
}

@media only screen and (max-width: 600px) {
  .btn {
    padding: 0.7rem 1.5rem;
    letter-spacing: 1px;
  }
}

.btn:hover {
  transform: translateY(-3px);
  background-image: none;
  background-color: $color-primary-dark;
  box-shadow: 0 1.5rem 3rem rgba($color-black, 0.6);
}

.btn:active {
  transform: translateY(0);
  box-shadow: 0 1.5rem 3rem rgba($color-black, 0.3);
}

.sidebar__btn--1,
.sidebar__btn--2 {
  padding: 1.5rem 3rem;
  margin-bottom: 5rem;
}

@media only screen and (max-width: 600px) {
  .sidebar__btn--1,
  .sidebar__btn--2 {
    padding: 1rem 2rem;
  }
}
