$color-primary: #51adcf;
$color-primary-light: #a5ecd7;
$color-primary-dark: #0278ae;

// $color-primary: #7971ea;
// $color-primary-light: #b8dff0;
// $color-primary-dark: #3e4e88;

$color-grey-theme: #f6f6f6;
$color-input-theme: #eae9e9;

$color-font: #797a7e;
$color-font-input: #cdc9c3;

$color-white: #fff;
$color-black: #000;
